/*-------memory----*/

.apply{
    color: rgb(243, 246, 247) !important;
    background: rgb(238, 123, 123) !important;
}


.last-total{
    margin-bottom: 80px;
     text-align: center;
     
}





